<% layout("/layouts/boilerplate") %>

<div class="filter-icons">
  <div class="filter">
    <a class="anchor" href="/listings">
      <div><i class="fa-solid fa-house"></i></div>
      General
    </a>
  </div>
  <div class="filter">
    <a class="anchor" href="/listings/filter/Hill-Station">
      <div><i class="fa-solid fa-mountain"></i></div>
      Hill-Station
    </a>
  </div>
  <div class="filter">
    <a class="anchor" href="/listings/filter/Iconic-City">
      <div><i class="fa-solid fa-city"></i></div>
      Iconic-City
    </a>
  </div>
  <div class="filter">
    <a class="anchor" href="/listings/filter/Amazing-Pool">
      <div><i class="fa-solid fa-water-ladder"></i></div>
      Amazing-Pool
    </a>
  </div>
  <div class="filter">
    <a class="anchor" href="/listings/filter/Camping">
      <div><i class="fa-solid fa-tent"></i></div>
      Camping
    </a>
  </div>
  <div class="filter">
    <a class="anchor" href="/listings/filter/Mansion">
      <div><i class="fa-solid fa-city"></i></div>
      Mansion
    </a>
  </div>
  <div class="filter">
    <a class="anchor" href="/listings/filter/OMG!">
      <div><i class="fa-solid fa-bolt"></i></div>
      OMG!
    </a>
  </div>
  <div class="filter">
    <a class="anchor" href="/listings/filter/Beach-Front">
      <div><i class="fa-solid fa-umbrella-beach"></i></div>
      Beach-Front
    </a>
  </div>
  <div class="filter">
    <a class="anchor" href="/listings/filter/Artic">
      <div><i class="fa-solid fa-snowflake"></i></div>
      Artic
    </a>
  </div>
  <div class="filter">
    <a class="anchor" href="/listings/filter/Boat-House">
      <div><i class="fa-solid fa-sailboat"></i></div>
      Boat-House
    </a>
  </div>
  <div class="filter">
    <a class="anchor" href="/listings/filter/Single-Room">
      <div><i class="fa-solid fa-house-user"></i></div>
      Single-Room
    </a>
  </div>

  <div class="filter dropdown">
    <a class="anchor dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <div><i class="fa-solid fa-indian-rupee-sign"></i></div>
      Price Range
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/listings/filter-price/1000">Under ₹1,000</a></li>
      <li><a class="dropdown-item" href="/listings/filter-price/2000">Under ₹2,000</a></li>
      <li><a class="dropdown-item" href="/listings/filter-price/3000">Under ₹3,000</a></li>
      <li><a class="dropdown-item" href="/listings/filter-price/5000">Under ₹5,000</a></li>
      <li><a class="dropdown-item" href="/listings/filter-price/10000">Under ₹10,000</a></li>
    </ul>
  </div>

  <div class="tax-toggle cursor">
    <div class="form-check-reverse form-switch">
      <input
        class="form-check-input cursor"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
      <label class="form-check-label cursor" for="flexSwitchCheckDefault"
        >Display total</label
      >
    </div>
  </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% for (let listing of allListings) { %>
  <a href="/listings/<%= listing._id%>" class="listing-link">
    <div class="listing-card col card">
      <img
        class="card-img-top"
        src="<%= listing.image.url %>"
        alt="listing image"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %></b>
          <br />
          <i class="non-tax">
            &#8377; <%= listing.price.toLocaleString("en-IN") %> / Night
            &nbsp;</i
          >
          <i class="tax-info">
            &#8377; <%= (listing.price+(listing.price *
            0.18)).toLocaleString("en-IN")%> / Night</i
          >
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.querySelectorAll(".tax-info");
    let nonTaxInfo = document.querySelectorAll(".non-tax");
    nonTaxInfo.forEach((tax) => {
      tax.style.display = tax.style.display != "none" ? "none" : "inline";
    });
    taxInfo.forEach((tax) => {
      tax.style.display = tax.style.display != "inline" ? "inline" : "none";
    });
  });
</script>